# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
*.env.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Build
qpgs-frontend/build/
coverage/

# Misc
*.local
